/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scroll */
    background-image: url('ewastepic.jpeg'); /* Add background image */
    background-size: cover;
    background-position: center;
}

/* Header styles */
.header {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 10px 0;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000; /* Ensure the header stays on top of other content */
     /* Add shadow */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.hamburger-menu {
    font-size: 23px;
    cursor: pointer;
    margin-right: 10px;
}

.company-name {
    font-size: 24px;
    margin-left: 15px;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

/* Introduction styles */
.introduction {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    margin-top: 70px; /* Ensure space below the fixed header */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow */
}

.introduction h1 {
    color: #333;
}

.introduction p {
    color: #555;
    line-height: 1.6;
}

/* Main content styles */
.main-content {
    margin-top: 20px;
}

.section {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add shadow */
    margin-bottom: 20px; /* Space between sections */
}

.section h2 {
    color: #333;
}

.section p {
    color: #555;
    line-height: 1.6;
}

.section img {
    max-width: 100%;
}

/* Sidebar styles */
.sidebar {
    margin-top: -21px;
    position: fixed;
    left: -300px;
    height: 100%;
    top: 70px; /* Ensure space below the fixed header */
    width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    transition: left 0.5s ease-out; /* Add transition effect */
    z-index: 1000; /* Ensure the sidebar stays on top of other content */
}

.sidebar.active {
    left: 0;
}
